body
{
    background-color: #2e3035;
    color: #b1b0b4;
    font-size: 18px;
}

button
{
    background-color:#8c95d4;
    color:  #d8a75f;
    border-radius: 5px;
    height: 35px;
    width: 65px;
}
